// App Sass variables
$font-default: "Inter", sans-serif;

$max-width: 1248px;

// Theme colors
$color-highlight: #d0a148;
$color-black: #000;
$color-white: #fff;
$color-error: #d7182a;
$color-placeholder: rgba(255, 255, 255, 0.5);
$bg-linear-dark: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(208, 161, 72, 0.08) 100%);

// Text colors
$color-text-primary: $color-white;