// App Sass variables
$font-default: "Inter", sans-serif;

$max-width: 1248px;

// Theme colors
$color-highlight: #d0a148;
$color-black: #000;
$color-white: #fff;
$color-error: #d7182a;

// Text colors
$color-text-primary: $color-white;

:root {
  --color-highlight: #{$color-highlight};
  --color-black: #{$color-black};
  --color-white: #{$color-white};
  --color-error: #{$color-error};
}