@import '@/styles/helpers/media-queries';

.showcase {
  display: flex;
  flex-direction: column;

  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 12px;
  }

  &__pagination {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
    margin-top: 12px;

    @include min-desktop {
      flex-direction: row;
      justify-content: space-between;
    }
  }
}