@import '@/styles/helpers/variables';

.card {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  min-height: 300px;

  &:hover {
    border: 2px solid $color-highlight;
  }

  &__image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    &--error {
      height: 400px;
      display: grid;
      place-items: center;
      color: $color-error;
    }
  }

  &__alive-flag {
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: $color-white;
    border-radius: 10px;
    font-size: 12px;
    color: black;
    padding: 2px 8px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
    background-color: $color-highlight;

    &--text {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}