@import '@/styles/helpers/variables';
@import '@/styles/helpers/media-queries';

.introduction {
  position: relative;
  background-image: url('assets/images/background.webp');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  overflow: hidden;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: 24px;
    flex: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 8px;
    text-align: center;

    background: linear-gradient(90deg, transparent, $color-highlight, transparent);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 80%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-size-adjust: none;
    animation: shine 5s linear infinite;

    @include min-desktop {
      font-size: 36px;
    }
  }
}

.logo {
  filter: drop-shadow(2px 4px 6px $color-black);
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }

  100% {
    background-position-x: 500%;
  }
}